[submodule "ntt-pod"]
	path = ntt-pod
	url = https://github.com/ntt-city/ntt-pod.git
[submodule "ntt-hub"]
	path = ntt-hub
	url = https://github.com/ntt-city/ntt-hub.git
[submodule "ntt-flow"]
	path = ntt-flow
	url = https://github.com/ntt-city/ntt-flow.git
[submodule "ntt-view"]
	path = ntt-view
	url = https://github.com/ntt-city/ntt-view.git
[submodule "ntt-vis"]
	path = ntt-vis
	url = https://github.com/ntt-city/ntt-vis.git
[submodule "ntt-tensor"]
	path = ntt-tensor
	url = https://github.com/ntt-city/ntt-tensor.git
[submodule "ntt-city"]
	path = ntt-city
	url = https://github.com/ntt-city/ntt-city.git
[submodule "ntt-dir"]
	path = ntt-dir
	url = https://github.com/ntt-city/ntt-dir.git
