[submodule "ntt-pod"]
	path = ntt-pod
	url = https://github.com/ntt-city/ntt-pod.git
[submodule "ntt-hub"]
	path = ntt-hub
	url = https://github.com/ntt-city/ntt-hub.git
[submodule "ntt-flow"]
	path = ntt-flow
	url = https://github.com/ntt-city/ntt-flow.git
